@import "../../../../styles/colors.module.scss";

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px 14px;
}

.imgLogoNav {
  width: 160px;
  cursor: pointer;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchImg {
  width: 20px;
  margin: 0px 10px;
  cursor: pointer;
}

.userProfile {
  font-weight: bold;
  font-size: 24px;
  background-color: white;
  text-transform: uppercase;
  color: black;
  min-width: 45px;
  min-height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0px 0px 0px 32px;
}

.input {
  background-color: transparent;
  color: white;
  border-color: $lightGray;
  &:focus {
    background-color: transparent;
    color: white;
    border-color: $mediumGray;
    box-shadow: none;
  }
  &::placeholder {
    color: white;
  }
}

.modal {
  position: absolute;
  width: 180px;
  height: 80px;
  top: 75px;
  right: 10%;
  background-color: #303030;
  outline: none;
  border-radius: 5px;
  box-shadow: 8px 6px 4px rgba(0, 0, 0, 0.486);

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 24px;
}

.overlayModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

.modalLink {
  color: white;
  cursor: pointer;
  margin: 5px 0px;
  font-weight: bold;
  transition: 0.4s;
  &:hover {
    color: $lightRed;
  }
}

.modalOptContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.modalIcon {
  width: 20px;
  cursor: pointer;
  filter: invert(100%) sepia(97%) saturate(0%) hue-rotate(149deg)
    brightness(121%) contrast(100%);
}

@media (max-width: 769px) {
  .userProfile {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .nav {
    padding: 24px 14px;
    gap: 20px;
    justify-content: center;
  }
  .modal {
    top: 140px;
  }
}
