@import "../../../styles/colors.module.scss";

.searchCardLink {
  text-decoration: none;
}

.searchCard {
  width: 320px;
  height: 400px;
  border: solid 1px $darkGray;
  overflow: hidden;
  text-overflow: clip;
  cursor: pointer;

  transition: 0.3s;

  &:hover {
    border-color: $lightRed;
    height: 416px;
  }
}

.searchCardImg {
  width: 100%;
  height: 190px;
}

.searchCardName {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
}

.searchCardDescription {
  color: $lightGray;
  padding: 0px 20px;
  font-size: 18px;
}

@media (max-width: 334px) {
  .searchCardName {
    font-size: 16px;
  }
  .searchCardDescription {
    font-size: 14px;
  }
}
