* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
<<<<<<< HEAD
  background-color: #151515;
  color: white;
  min-height: 100vh;
=======
  background-color: #190C15;
  color: #fff;
  min-height: 100%;
>>>>>>> b344d1453f1153fea0aea88214b1f4c80a4177ee
  p {
    margin: 0;
  }
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
<<<<<<< HEAD
  background: #151515;
=======
  background: #190C15;
>>>>>>> b344d1453f1153fea0aea88214b1f4c80a4177ee
}
::-webkit-scrollbar-thumb {
  background: #868686;
  border-radius: 40px;
}