* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #190C15;
  color: #fff;
  min-height: 100%;
  p {
    margin: 0;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #190C15;
}

::-webkit-scrollbar-thumb {
  background: #868686;
  border-radius: 40px;
}