* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #ffffff;
  color: #000000;
  min-height: 100%;
  p {
    margin: 0;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #868686;
  border-radius: 40px;
}